main section{
    display: block;
    margin: 12rem auto;
    width: 90%;

}
.col>label{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    width: 100%;
    font-size: 1.6rem;
}
section h1{
    display: block;
    text-align: center;
    line-height: 3rem;
    background-color: rgb(224, 222, 222);
}
.col>input{
    padding: 1rem;
    display: block;
    width: 100%;
    height: 3.25rem;
    border-radius: .5rem ;
    border: .1rem solid #ccc;
    font-size: 1.6rem;
}
.form-group>textarea{
    display: block;
    margin: 1rem auto;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
}

.btn_submit{
    display: block;
    font-size: 1.4rem;
    width: 30%;
    color: black;
    height: 4rem;
    transition: all .3s;
    background-color:white ;
    border: .1rem solid #ccc;
    margin: 0 auto;

}
.btn_submit:hover{
    transition: all .3s;
    color: white;
    background-color:rgb(0, 0, 0) ;

}

